.bottom-nav-labels {
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}