<div class="bg-white w-full">
  <div class="flex justify-around p-4">
    <div
      *ngFor="let tab of tabs"
      (click)="selectTab(tab.id)"
      class="flex flex-col items-center cursor-pointer"
      [ngClass]="{
        'text-blue-500 border-b-2 border-blue-500 scale-105':
          activeTab === tab.id,
        'text-gray-500': activeTab !== tab.id,
      }"
    >
      <i [class]="tab.icon" class="text-lg"></i>
      <div class="text-sm font-semibold text-center bottom-nav-labels">{{ tab.title }}</div>
    </div>
  </div>
</div>
